<main>
  <section class="flex__display  title_form">
    <h1>Log in to Clinic Am</h1>
  </section>
  <section class="flex__display">
    <article class="flex__display">
      <form class="flex__display form_spacing">
        <app-section-field typeInput="text" nameInput="idencard" valueLabel="Identification Card" placeholder="00-000000-000000" pattern="^\d{1,6}(-\d{6}){2}$"  [control]="idenCard" />
        <app-section-field typeInput="password" nameInput="pass" valueLabel="Password" placeholder="password" [control]="password"/>
        <div class="flex__display">
          <app-button (onClickB)="sendData()" classCss="success" value="Log In" />
        </div>
      </form>
    </article>
    <article class="link_register">
      <a href="/register">Create New Account</a>
    </article>
  </section>
</main>
