/*
  @link docs: https: //www.notion.so/CMP-Button-Redirect-bd8cfad70d27484292486aab34099736
*/
.success {
  background-color: #1B4246;
  color: #D9D9D9;
  box-shadow: 0 3px #133135;
}

.success:hover {
  box-shadow: 0 2px #133135;
}

.success-outline{
  background-color:#D9D9D9;
  color:#1B4246;
  box-shadow: 0px 3px #1B4246;
}

.success-outline:hover {
  box-shadow: 0 2px #133135;
}

.danger {
  background-color: #A50F0F;
  color: #D9D9D9;
  box-shadow: 0 6px #4B0404;
}

.danger:hover {
  box-shadow: 0 3px #4B0404;
}

a {
  display: block;
  box-sizing: border-box;
  border: none;
  font-size: 1.2em;
  border-radius: .4em;
  padding: .5em 1.4em;
  transition: box-shadow .3s;
  width: 100%;
  /* height: 2.4em; */
  text-align: center;
  /* font-family: 'Monserrat'; */

  text-decoration: none;

}