input{
  border-radius: 4px;
  height: 3em;
  border: none;
  font-size: 1em;
  padding-left: .3em;
}

input:focus-visible{
  outline: none;
}


.flex__display {
  display: flex;
  flex-direction: column;
  gap: .5em;
}